{{#each this}}
<div class="photo-card">
  <div class="img-block">
    <a class="gallery__item" href="{{largeImageURL}}">
  <img src="{{webformatURL}}" alt="{{tags}}" loading="lazy" class="image" width="370"/></a>
  </div>
  <div class="info">
    <p class="info-item">
      <b>Likes<br>{{likes}}</b>
    </p>
    <p class="info-item">
      <b>Views<br>{{views}}</b>
    </p>
    <p class="info-item">
      <b>Comments<br>{{comments}}</b>
    </p>
    <p class="info-item">
      <b>Downloads<br>{{downloads}}</b>
    </p>
  </div>
</div>
{{/each}}


 